{% extends 'base/index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">404 Page!</h2>
                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5 uniForm mx-5 form" method="post">
                        <div class="text-center">
                            <img src="https://www.nicepng.com/png/detail/96-961832_clip-art-dog-head.png"
                                 class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="200px" alt="profile">
                        </div>
                        <p>
                        <h3 class="text-center text-dark mt-5">PAGE NOT FOUND!</h3></p>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
