{% extends 'base/index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-5">
                    <form  class="card-body cardbody-color p-lg-5 uniForm mx-5 form" method="post">
                        <div class="text-center">
                            <h2 class="text-center text-dark mt-5">Hi,{{ object.full_name }}</h2>
                            <img src="https://www.nicepng.com/png/detail/96-961832_clip-art-dog-head.png"
                                 class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="200px" alt="profile">
                        </div>
                        <p>Date of birth: {{ object.birth_date }}</p>
                        <p>My dogs: {{ object.pets }}</p>

                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                            <a href="{% url 'profile edit' object.pk %}" class="text-dark fw-bold"> Edit profile</a>
                            <a href="" class="text-dark fw-bold"> Delete profile</a>
                            <p>
                                <button type="submit" class="btn btn-outline-primary mx-1"><a href="{% url 'profile logout'  %}" style="text-decoration:none;"> LOGOUT </a></button>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}